/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
	.banner_content h1{
	font-weight: 700;
	margin-bottom: 20px;	
	
}
	
	footer {
		text-align: center;
	}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	
	.banner_content h1{
	font-weight: 700;
	margin-bottom: 30px;	
	
}
	
	footer {
		text-align: center;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.banner_titel{
	margin-top: 60px;
}
	
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.c_btn{
		padding: 10px 350px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }